
body{
    margin: 0px;    
}



/********************/
/*******nav**********/
/*******************/

nav {
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    height: 7vw;
    width: 100vw;
    box-sizing: border-box;
}


.navItem {
    color: #594f43;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

@font-face {
    font-family: "Cafe24Supermagic-Bold-v1.0";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}

.contactMe{
    position: fixed; z-index: 1;
    bottom: 1vw;
    right: 1vw;
    width: 10vw;
    height: 6vw;
    text-align: center;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: rgb(255, 255, 255);
    border-radius: 2vw;
    border: 0.5vw solid rgb(199, 223, 255);
    background: rgb(71, 135, 238);

}


/*****************************/
/*********Header Css**********/
/*****************************/

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    gap: 20vw;
    padding: 5vw;
}

.welcomeMessage{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}
.badge {
    display: flex;
    padding: 1vw 1.5vw;
    justify-content: center;
    align-items: center;
    gap: unset;

    border-radius: 1vw;
    background: #E6EEFF;

    color: #000;
    font-family: Pretendard;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

header h1 {
    color: #333;
    font-family: Pretendard;
    font-size: 4vw;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 80px */
    letter-spacing: unset;
}

.animationCollection{
    display: flex;
}



header h1 .titleAnimation1{
    animation: vibration 0.1s 5;
    animation-delay: 0s;
    
}

header h1 .titleAnimation2{
    animation: vibration 0.1s 5;
    animation-delay: 0.5s;
    
}
header h1 .titleAnimation3{
    animation:vibration 0.1s 5;
    animation-delay: 1s;
    
}
header h1 .titleAnimation4{
    animation: vibration 0.1s 5;
    animation-delay: 1.5s;
    
}
header h1 .titleAnimation5{
    animation: vibration 0.1s 5;
    animation-delay: 2s;
    
}
header h1 .titleAnimation6{
    animation: vibration 0.1s 5;
    animation-delay: 2.5s;
    
}
header h1 .titleAnimation7{
    animation: vibration 0.1s 5;
    animation-delay: 3s;
    
}

header h1 .titleAnimation8{
    animation: vibration 0.1s 5;
    animation-delay: 3.5s;
    
}

@keyframes vibration {
    from {
      transform: rotate(5deg);
      color:rgb(192, 134, 219);
    }
    
    to {
      transform: rotate(-5deg);
      color:rgb(192, 134, 219);
    }
}


header h1 .problemSolver{
    background: linear-gradient(
        99deg,
        rgba(15, 156, 243, 0.862) 0%,
        rgb(70, 111, 177) 50%,
        rgb(44, 38, 212)100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headerLinkContainer {
    display: flex;
    align-items: flex-start;
    gap: 1vw;
}

.headerLinkContainer .github{
    display: flex;
    width: 17vw;
    box-sizing: border-box;
    padding: 1.6vw 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: unset;
    border-radius: 1vw;
    background: #000;
}

.githubLink{
    display: flex;
    align-items: center;
    gap: unset;

    color: #E6EEFF;

    font-size: 1.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}

.resume{
    display: flex;
    width: 17vw;
    padding: 1.6vw 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: unset;

    border-radius: 1vw;
    border: 0.1vw solid #403930;  
}

.resumeLink{
    display: flex;
    align-items: center;
    gap: unset;
    color: #403930;
    font-family: Pretendard;
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}

a{
    text-decoration: none;
}

.welcomePicture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: unset;
}

.profilePicture{
    width: 24vw;
    height: 24vw;
    flex-shrink: 0;
    border-radius: 40vw;
    border: 1vw solid #BCF2F9;
    background: url(./day2/img/profile.jpg), lightgray 50% / cover no-repeat;
    background-size: cover;
}




.content{
}


/***********************/
/*******About Me********/
/***********************/


.aboutMe{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100vw;
    position: relative;
    background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
    padding: 5vw 5vw;
    box-sizing: border-box;
}

.content .aboutMe h1{
    color: #000;
    font-family: Pretendard;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: unset;

}

.content .aboutMe p{
    height: auto;
    flex-shrink: 0;
    align-self: stretch;

    color: #333;
    font-family: Pretendard;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}

.aboutMeImg{
    background: url(./day2/img/aboutMe.png) no-repeat;
    background-size:  contain;
    width: 6vw;
    height: 6vw;  
    position: absolute;
    right: 45vw;
    bottom: 19vw;
}

.stacks{
    display: flex;
    width:100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 8vw;
    box-sizing: border-box;
}

.stacks h1{
    font-size: 3vw;
}

.stacksContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stacks .stacksContent p{
    text-align: center;
    margin: unset;
    padding: unset;
    font-size: 1.2vw;
}

.stacksImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}


.stacksImg svg{
    width: 8vw;
    height: 8vw;
}


/*************************/
/********projects*********/
/*************************/

.projects{
    display: flex;
    padding: 5vw;
    width: 100vw;
    box-sizing: border-box;
    flex-direction: column;
    gap: 5vw;
    align-items: center;

}

.project{
    display: flex;
    width: 75vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 3vw 0;
    border-radius: 3vw;
    background: #E6EEFF;
    box-sizing: border-box;
}

.projects h1{
    padding: unset;
    font-size: 2.5vw;
}

.projects .project .projectDesc h1{
    font-size: 2vw;
    margin: unset;
    padding: unset;
}

.projectDesc{
    margin: unset;
    padding: unset;
    width: 25vw;
    font-size: 1.1vw;
}

.projectLinks{
    gap: 1vw;
    display: flex;
}

.projectImg{
    display: flex;
    gap: 1.5vw;
}

.project1Img1{
    width: 10vw;
    height: 21vw;
    flex-shrink: 0;
    border-radius: 1vw;
    background: url(./day2/img/project1-1.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.project1Img2{
    width: 10vw;
    height: 21vw;
    flex-shrink: 0;
    border-radius: 1vw;
    background: url(./day2/img/project1-2.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.project1Img3{
    width: 10vw;
    height: 21vw;
    flex-shrink: 0;
    border-radius: 1vw;
    background: url(./day2/img/project1-3.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.projects .project .projectDesc .projectLinks .notion{
    color: #405BA1;
    font-family: Pretendard;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    text-decoration-line: underline;
}

.projects .project .projectDesc .projectLinks .github{
    color: #00446A;
    font-family: Pretendard;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    text-decoration-line: underline;
}


/**************************/
/**********review**********/
/**************************/

.review{
    box-sizing: border-box;
    width: 100vw;
    padding: 5vw 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewTitle{
    font-size: 2.5vw;
}